
<div class="row">
    <div class="product-list-header col-sm-12 col-md-10 col-md-offset-1">


        <div class="col-sm-6 ">

            <h2>Phones</h2>

        </div>

        <div class="col-sm-6 ">

              <input  type="text" class="form-control" [(ngModel)]="filterVal" placeholder="Type here to filter" (keyup)="filter()">

        </div>
    </div>
  </div>
<div class="row">
     <div class="product-list col-sm-12 col-md-10 col-md-offset-1">


          <p class="bg-info" *ngIf="visibleProducts && visibleProducts.length == 0">No items found with current filtering!</p>

           <div class="row product-item" *ngFor="let product of visibleProducts"
             [class.selected]="product === selectedProduct"
             (click)="onSelect(product)" >

               <div class="col-sm-10">

                     <h3>{{product.description}}</h3>

                     <div class="stockstatus small">

                         <span class="stockstatus-availability-label">Availability:</span>

                         <span class="stockstatus-stock-details">{{product.stockQuantity}} in stock (1-2 days shipping)</span>

                     </div>


                 </div> <!-- end of left column -->
                 <div class="col-sm-2">

                   <div class="row">

                      <p class="product-price-now">{{product.price}}:-</p>

                  </div>

                  <div class="row">

                      <button class="btn btn-default add-to-cart-button" (click)="appendItem(product)">Add to cart</button>

                  </div>
              </div> <!-- end of right column -->
          </div>
    </div>
  </div>
